certifi==14.05.14
cov-core==1.15.0
coverage==3.7.1
crfmg-utils==0.1.0
doit==0.26.0
execnet==1.2.0
future==0.14.2
msgpack-python==0.4.2
pseud==0.1.0dev
py==1.4.26
pyinotify==0.9.4
pytest==2.6.4
pytest-cov==1.8.1
pytest-incremental==0.3.0
pytest-xdist==1.11
python-dateutil==2.3
pyzmq==14.4.1
six==1.8.0
tornado==4.0.2
zope.component==4.2.1
zope.event==4.0.3
zope.interface==4.1.1
